* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 40px 50px;
    width: 80%;
    max-width: 900px;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
}

#verification_heading {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

#verification_subtext {
    font-size: 16px;
    color: #555;
    margin-bottom: 35px;
    line-height: 1.4rem;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px;
}

.code {
    width: 70px;
    height: 80px;
    font-size: 45px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    color: #555;
    transition: 0.3s;
}

.code::placeholder {
    color: #b1b1b1;
    font-size: 45px;
}

.code:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
}

.hint-box {
    margin-top: 10px;
    background: #ebebeb;
    padding: 15px 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 14px;
    color: #444;
}
